
<h1> Home </h1>

@if (wowApiService.isRacesLoading()) {
    <div>Loading races...</div>
} @if (wowApiService.isRacesError()) {
    <div>Error retrieving playable races</div>
}

<select class="form-select" aria-label="Select Race" (change)="onSelectRace($event)">
  <option selected>Select Playable Race</option>
  @for (race of wowApiService.playableRaces(); track race.id) {

    <option [value]="race.id"> {{ race.name }} </option>
  }
</select>

@if (store.selectedRace()) {
  <app-playable-classes />
}
